@model day16.ViewModel.TestViewModel

<h1> @Model.Id</h1>
<h1> @Model.Name</h1>
<h1> @Model.Price</h1>
<h1> @Model.Category</h1>
<h1> @Model.AuthorId</h1>
<h1> @Model.Color</h1>
<h1> @Model.Age</h1>